[package]
name = "alethia-reth-block-lite"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[lib]
path = "src/lib.rs"

[dependencies]
alethia-reth-chainspec-lite = { path = "../chainspec-lite" }
